/* Navbar-section */

.navbar-nav .btn{
  border-radius: 230px;
  background-color: rgb(28, 192, 28);
  color: white;

}

.dropdown-menu{
  background-color: rgb(48, 40, 40)!important;
}
.dropdown-item{
  font-size: 14px;
  border-color: chartreuse!important;
}

.dropdown-item:hover{
  background-color: rgb(46, 37, 37)!important;
  width: 100px;
}

.nav-link:hover{
  color: chartreuse!important;
}

.navbar {
  background: transparent!important;
  z-index: 1000!important;
}

/* Navbar-section */


/* Home */
.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.slide-count {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-content {
  position: absolute;
  left: 15%;
  bottom: 120px;
  color: white;
}

.hero-content h1 {
  font-size: 7rem;
  font-weight: 300;
  margin: 0;
}

.hero-content h3 {
  font-size: 2.5rem;
}

.hero-right {
  position: absolute;
  right: 8%;
  top: 35%;
  width: 350px;
  color: white;
}

.hero-right p {
  font-size: 1.3rem;
  line-height: 1.8;
}

.service-btn {
  margin-top: 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
}

.arrows {
  position: absolute;
  right: 60px;
  bottom: 80px;
  display: flex;
  gap: 15px;
}

.arrows button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 1.8rem;
}
/* Home */