.navbar-nav .btn{
  border-radius: 230px;
  background-color: rgb(28, 192, 28);
  color: white;

}

.dropdown-menu{
  background-color: rgb(48, 40, 40)!important;
}
.dropdown-item{
  font-size: 14px;
  border-color: chartreuse!important;
}

.dropdown-item:hover{
  background-color: rgb(46, 37, 37)!important;
  width: 100px;
}

.nav-link:hover{
  color: chartreuse!important;
}